
label[data-v-216b24]{margin-bottom:5px;margin-top:20px
}
.draggable[data-v-216b24]{align-items:center;cursor:ns-resize;display:flex;justify-content:space-between
}
.draggable .checkbox[data-v-216b24]{max-width:125px
}
.draggable i[data-v-216b24]{color:var(--lighter-gray)
}