
.listing-tile[data-v-f3aef5]{padding:20px;display:grid;grid-template-columns:repeat(auto-fill,160px);grid-gap:20px;width:100%;height:100%;overflow:scroll;-webkit-overflow-scrolling:touch;max-height:100vh
}