<footer>
  <div class="container">

    <div class="cta">
      <div>
        <h2>Looking for a blog?</h2>
        <p>This blog is one of our free and open-source templates. Just download, customize, and you'll be ready to go in no time!</p>
      </div>
      <a href="https://github.com/directus/blog-template" target="_blank" class="button gray">Download</a>
    </div>

    <div class="social">
      <a href="https://github.com/directus" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="39" viewBox="0 0 40 39">
          <path fill="#546e7a" d="M179.799344,3107 C168.865902,3107 160,3115.86393 160,3126.79934 C160,3135.54754 165.673115,3142.96885 173.54,3145.58721 C174.52918,3145.77082 174.892459,3145.1577 174.892459,3144.63475 C174.892459,3144.16262 174.874098,3142.60295 174.865574,3140.94852 C169.357377,3142.14623 168.195082,3138.61246 168.195082,3138.61246 C167.294426,3136.32393 165.996721,3135.71541 165.996721,3135.71541 C164.2,3134.48656 166.132131,3134.51213 166.132131,3134.51213 C168.12,3134.65148 169.167213,3136.55246 169.167213,3136.55246 C170.933115,3139.57869 173.799016,3138.70393 174.928852,3138.19836 C175.106557,3136.91869 175.619672,3136.04492 176.185902,3135.55049 C171.788197,3135.05049 167.164918,3133.35246 167.164918,3125.7659 C167.164918,3123.60426 167.938689,3121.83803 169.205246,3120.45115 C168.999344,3119.95279 168.321639,3117.93902 169.396721,3115.2118 C169.396721,3115.2118 171.059016,3114.67967 174.842623,3117.24131 C176.422295,3116.8023 178.116393,3116.58164 179.799344,3116.5741 C181.481311,3116.58164 183.176393,3116.80164 184.759016,3117.24066 C188.538033,3114.67902 190.198361,3115.21115 190.198361,3115.21115 C191.276066,3117.93803 190.598361,3119.95213 190.392787,3120.45049 C191.662295,3121.83738 192.430492,3123.60361 192.430492,3125.76525 C192.430492,3133.36984 187.798689,3135.04393 183.389836,3135.53443 C184.100328,3136.14885 184.733115,3137.3541 184.733115,3139.20098 C184.733115,3141.85016 184.710164,3143.9823 184.710164,3144.63443 C184.710164,3145.16131 185.066885,3145.77869 186.070164,3145.58426 C193.932459,3142.96328 199.599016,3135.54426 199.599016,3126.79934 C199.598689,3115.86459 190.73377,3107.00033 179.799344,3107.00033 L179.799344,3107 Z" transform="translate(-160 -3107)"/>
        </svg>
      </a>
      <a href="https://directus.chat" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="39" viewBox="0 0 40 39">
          <g fill="#546e7a">
          <polygon points="16.517 17.768 18.216 22.667 23.483 20.962 21.784 16.063"/>
          <path d="M38.0666667,14.1301587 C34,1.03809524 28.1301587,-2.01587302 14.5809524,1.9047619 C1.03174603,5.82539683 -2.13333333,11.5111111 1.93333333,24.6 C6,37.6888889 11.8698413,40.7428571 25.4253968,36.815873 C38.9809524,32.8888889 42.1333333,27.2190476 38.0666667,14.1301587 Z M31.2126984,22.6253968 L28.6730159,23.4507937 L29.5587302,25.9904762 C29.7329076,26.4971057 29.6919695,27.0529678 29.4454493,27.5286138 C29.1989291,28.0042598 28.768344,28.3581738 28.2539683,28.5079365 C28.0275315,28.5812222 27.790305,28.6155717 27.552381,28.6095238 C26.7051114,28.596481 25.9543025,28.0605501 25.6666667,27.2634921 L24.7809524,24.7238095 L19.5142857,26.4126984 L20.4,28.952381 C20.5686859,29.4544735 20.5268381,30.0034784 20.2839994,30.4742026 C20.0411608,30.9449267 19.6180354,31.2972369 19.1111111,31.4507937 C18.8846743,31.5240793 18.6474478,31.5584289 18.4095238,31.552381 C17.5596635,31.547882 16.8018056,31.0164958 16.5079365,30.2190476 L15.6222222,27.6793651 L13.0825397,28.5047619 C12.856089,28.5779877 12.6188728,28.6123358 12.3809524,28.6063492 C11.5336828,28.5933064 10.7828739,28.0573755 10.4952381,27.2603175 C10.3265522,26.7582249 10.3684,26.20922 10.6112387,25.7384959 C10.8540773,25.2677717 11.2772027,24.9154615 11.784127,24.7619048 L14.3238095,23.9365079 L12.6412698,19.0222222 L10.1015873,19.847619 C9.87515051,19.9209047 9.63792401,19.9552543 9.4,19.9492063 C8.55273043,19.9361635 7.80192154,19.4002326 7.51428571,18.6031746 C7.34559985,18.101082 7.38744765,17.5520772 7.63028629,17.081353 C7.87312494,16.6106288 8.29625036,16.2583186 8.8031746,16.1047619 L11.3428571,15.2793651 L10.4571429,12.7396825 C10.2823998,12.2351807 10.3211717,11.6812098 10.5644862,11.2059674 C10.8078007,10.7307251 11.2345696,10.3754008 11.7460317,10.2222222 C12.8030982,9.868952 13.9494532,10.4203277 14.3333333,11.4666667 L15.2190476,14.0063492 L20.4888889,12.3015873 L19.6031746,9.76190476 C19.4344887,9.25981221 19.4763365,8.71080732 19.7191752,8.24008315 C19.9620138,7.76935898 20.3851392,7.41704878 20.8920635,7.26349206 C21.9538446,6.90242263 23.1094001,7.45691995 23.4920635,8.51111111 L24.3777778,11.0507937 L26.9174603,10.2253968 C27.9745267,9.8721266 29.1208818,10.4235023 29.5047619,11.4698413 C29.6734478,11.9719338 29.6316,12.5209387 29.3887613,12.9916629 C29.1459227,13.4623871 28.7227973,13.8146973 28.215873,13.968254 L25.6761905,14.7936508 L27.3746032,19.6920635 L29.9142857,18.8666667 C30.9713521,18.5133964 32.1177072,19.0647721 32.5015873,20.1111111 C32.6753154,20.6152139 32.6360274,21.168355 32.3927928,21.6428422 C32.1495582,22.1173294 31.7234007,22.472151 31.2126984,22.6253968 Z"/>
        </g>
        </svg>
      </a>
      <a href="https://twitter.com/directus" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" viewBox="0 0 40 33">
          <path fill="#546e7a" d="M552.579214,3146.50108 C567.674271,3146.50108 575.92839,3133.99474 575.92839,3123.1519 C575.92839,3122.79702 575.92839,3122.44214 575.90621,3122.09043 C577.512204,3120.92831 578.898436,3119.4895 580,3117.84138 C578.5029,3118.50541 576.914686,3118.94118 575.28834,3119.13416 C577.000783,3118.10758 578.282147,3116.49406 578.89417,3114.5936 C577.282967,3115.55003 575.520161,3116.22408 573.681876,3116.58663 C571.138364,3113.88209 567.096753,3113.22025 563.823452,3114.97224 C560.550151,3116.72423 558.859263,3120.45432 559.698986,3124.07079 C553.10036,3123.7402 546.952371,3120.62359 542.785171,3115.49664 C540.604789,3119.24537 541.714779,3124.04331 545.320025,3126.45355 C544.023023,3126.40972 542.755261,3126.05665 541.622307,3125.42376 C541.622307,3125.45862 541.622307,3125.49347 541.622307,3125.52833 C541.621843,3129.43015 544.367698,3132.79326 548.190748,3133.57332 C546.981916,3133.9026 545.713672,3133.9503 544.483523,3133.71274 C545.557285,3137.05771 548.638988,3139.34989 552.151458,3139.41616 C549.242698,3141.6941 545.652742,3142.92832 541.958175,3142.9206 C541.303779,3142.92096 540.649927,3142.88287 540,3142.80653 C543.752439,3145.21683 548.119353,3146.49611 552.579214,3146.49157" transform="translate(-540 -3114)"/>
        </svg>
      </a>
    </div>

    <div class="legal">
      © 2019 <a href="http://rangerstudio.com" target="_blank">RANGER Studio, LLC.</a> All rights reserved.
    </div>

  </div>
</footer>
