<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>

<meta charset="utf-8">
<meta name="title" content="Open-Source Headless CMS & API — Directus">
<meta name="description" content="Directus is an open-source tool for managing content across all your omni-channel digital experiences. Our suite includes an intuitive admin app for editors, a powerful API for developers, and can be self-hosted absolutely free.">

<meta property="og:type" content="website">
<meta property="og:url" content="https://directus.io/">
<meta property="og:title" content="Open-Source Headless CMS & API — Directus">
<meta property="og:description" content="Directus is an open-source tool for managing content across all your omni-channel digital experiences. Our suite includes an intuitive admin app for editors, a powerful API for developers, and can be self-hosted absolutely free.">
<meta property="og:image" content="https://directus.io/og-image.png">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://directus.io/">
<meta property="twitter:title" content="Open-Source Headless CMS & API — Directus">
<meta property="twitter:description" content="Directus is an open-source tool for managing content across all your omni-channel digital experiences. Our suite includes an intuitive admin app for editors, a powerful API for developers, and can be self-hosted absolutely free.">
<meta property="twitter:image" content="https://directus.io/og-image.png">

<meta name="apple-mobile-web-app-title" content="Directus">
<meta name="application-name" content="Directus">
<meta name="msapplication-TileColor" content="#263238">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#263238">

<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon/favicon.ico">

<link rel="stylesheet" href="/styles/index.css" />
<script src="/scripts/index.js" defer></script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24637628-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24637628-1');
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,700i&display=swap" rel="stylesheet">
<link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet" type="text/css"/>
