<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="phpunit.php"
    colors="true"
>
    <php>
        <env name="API_URL" value="http://localhost/api"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_NAME" value="directus_test"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value=""/>
    </php>
    <testsuites>
        <testsuite name="Directus's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/core</directory>
        </whitelist>
    </filter>
</phpunit>
