
.buttons[data-v-086242]{display:flex;flex-wrap:wrap;padding:5px 0
}
.buttons span[data-v-086242]{background-color:var(--gray);border-radius:var(--border-radius);color:var(--white);margin:2px;padding:2px 4px 3px
}