
.interface-tags[data-v-f57554]{max-width:var(--width-normal)
}
.buttons[data-v-f57554]{display:flex;flex-wrap:wrap;padding:5px 0
}
.buttons button[data-v-f57554]{background-color:var(--gray);border-radius:var(--border-radius);color:var(--white);margin:2px;padding:2px 4px 3px
}
.buttons button[data-v-f57554]:hover,.user-is-tabbing .buttons button[data-v-f57554]:focus{background-color:var(--danger)
}