
.button-group-subgroup[data-v-97cfe9]{display:inline-flex;flex-wrap:wrap;margin-right:10px
}
.button-group-button[data-v-97cfe9]{align-items:center;border:var(--input-border-width) solid var(--action);color:var(--action-dark);cursor:pointer;display:flex;height:40px;justify-content:center;line-height:40px;padding:0 20px;transition:var(--fast) var(--transition);transition-property:border-color,background-color,color;white-space:nowrap
}
.button-group-button[data-v-97cfe9]:hover{background-color:var(--light-blue-50)
}
.button-group-button i[data-v-97cfe9]{font-size:18px
}
.button-group-button i+span[data-v-97cfe9]{margin-left:4px
}
.button-group-item input[type=radio][data-v-97cfe9]{height:0;opacity:0;position:absolute
}
.button-group-item input[type=radio]:focus+.button-group-button[data-v-97cfe9]{background-color:var(--light-blue-50)
}
.button-group-item input[type=radio]:checked+.button-group-button[data-v-97cfe9]{background-color:var(--accent);color:var(--white)
}
.button-group-item input[type=radio]:disabled+.button-group-button[data-v-97cfe9]{background-color:var(--lightest-gray);border-color:var(--lighter-gray);color:var(--gray);cursor:not-allowed
}
.button-group-item input[type=radio]:disabled:checked+.button-group-button[data-v-97cfe9]{background-color:var(--lighter-gray);color:var(--gray)
}
.button-group-item+.button-group-item .button-group-button[data-v-97cfe9]{margin-left:calc(-1 * var(--input-border-width))
}
.button-group-item:first-child .button-group-button[data-v-97cfe9]{border-radius:var(--border-radius) 0 0 var(--border-radius)
}
.button-group-item:last-child .button-group-button[data-v-97cfe9]{border-radius:0 var(--border-radius) var(--border-radius) 0
}
@media only screen and (max-width:800px){
.button-group-subgroup[data-v-97cfe9],.interface-button-group[data-v-97cfe9]{display:inline-flex;flex-direction:column
}
.button-group-subgroup[data-v-97cfe9]{margin:0
}
.button-group-subgroup+.button-group-subgroup[data-v-97cfe9]{margin:10px 0 0
}
.button-group-item+.button-group-item .button-group-button[data-v-97cfe9]{margin-left:0;margin-top:calc(-1 * var(--input-border-width))
}
.button-group-item:first-child .button-group-button[data-v-97cfe9]{border-radius:var(--border-radius) var(--border-radius) 0 0
}
.button-group-item:last-child .button-group-button[data-v-97cfe9]{border-radius:0 0 var(--border-radius) var(--border-radius)
}
}
.button-group-solid .button-group-button[data-v-97cfe9]{background-color:var(--dark-gray);border:none;color:var(--white)
}
.button-group-solid .button-group-button[data-v-97cfe9]:hover{background-color:var(--darker-gray);color:var(--white)
}
.button-group-solid .button-group-item input[type=radio]:focus+.button-group-button[data-v-97cfe9]{background-color:var(--darker-gray)
}
.button-group-solid .button-group-item input[type=radio]:checked+.button-group-button[data-v-97cfe9]{background-color:var(--accent)
}
.button-group-solid .button-group-item input[type=radio]:disabled+.button-group-button[data-v-97cfe9]{background-color:var(--lighter-gray);color:var(--light-gray)
}
.button-group-solid .button-group-item input[type=radio]:disabled:checked+.button-group-button[data-v-97cfe9]{background-color:var(--blue-grey-200);color:var(--gray)
}
.button-group-solid .button-group-item+.button-group-item .button-group-button[data-v-97cfe9]{margin-left:0
}
@media only screen and (max-width:800px){
.button-group-solid .button-group-item+.button-group-item .button-group-button[data-v-97cfe9]{margin-top:0
}
}