.flatpickr-calendar {
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	max-width: var(--width-medium);
	width: var(--width-medium);
}

.flatpickr-rContainer {
	width: var(--width-medium);
}

.flatpickr-input {
	display: none;
}

.flatpickr-days,
.dayContainer {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.flatpickr-day {
	transition: var(--fast) var(--transition);
	max-width: 36px;
	height: 36px;
	line-height: 34px;
	color: var(--gray);
	margin: 3px;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
	background: var(--darker-gray);
	border-color: var(--darker-gray);
}

.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
	color: var(--lighter-gray);
}

.flatpickr-weekdays,
.flatpickr-months .flatpickr-month {
	background: var(--darker-gray);
}

span.flatpickr-weekday {
	color: var(--light-gray);
	font-weight: 500;
}

.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
	border-color: var(--lightest-gray);
	background-color: var(--lightest-gray);
}

.flatpickr-day.today {
	border-color: var(--lighter-gray);
}

.flatpickr-months .flatpickr-month,
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
	color: var(--white);
	fill: var(--white);
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
	border-top-color: var(--white);
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
	border-bottom-color: var(--white);
}

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
	fill: var(--light-gray);
}

.flatpickr-months .flatpickr-month {
	height: var(--input-height);
}

.flatpickr-current-month input.cur-year[disabled], .flatpickr-current-month input.cur-year[disabled]:hover {
	color: rgba(255,255,255,0.5);
}

.flatpickr-current-month input.cur-year {
	font-weight: 400;
}

.inactive .flatpickr-calendar::before {
	position: absolute;
	left: 0;
	background-color: var(--dark-gray);
    opacity: .3;
    z-index: 10;
    width: inherit;
    height: 100%;
    border-width: 0px;
    margin: 0 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
