
.interface-many-to-one[data-v-7b0c4c]{max-width:var(--width-normal);position:relative
}
.v-select[data-v-7b0c4c]{margin-top:0
}
button[data-v-7b0c4c]{height:100%;left:0;position:absolute;top:0;width:100%
}