<header>
	<nav>
		<!-- <h2 class="logo">MonoSpace</a></h2> -->
		<a href="/">
			<div class="logo rgb">
					<h2 class="rgb-a">MonoSpace</h2>
					<h2 class="rgb-r">MonoSpace</h2>
					<h2 class="rgb-g">MonoSpace</h2>
					<h2 class="rgb-b">MonoSpace</h2>
			</div>
		</a>
		<div class="menu"></div>
		<ol class="overlay">
			<li class="h1"><a href="/#monospace">MonoSpace<span>⟶</span></a></li>
			<li class="h1"><a href="/#services">Services<span>⟶</span></a></li>
			<li class="h1"><a href="/#locations">Locations<span>⟶</span></a></li>
			<li class="h1"><a href="/#monospace">News<span>⟶</span></a></li>
			<li class="h1"><a href="/#contact">Contact<span>⟶</span></a></li>
		</ol>
	</nav>
</header>
