
.interface-icon[data-v-ea7729]{background-color:#fff;border:var(--input-border-width) solid var(--lighter-gray);border-radius:var(--border-radius);display:flex;flex-direction:column;height:334px;max-width:var(--width-normal);overflow-y:scroll;padding:10px;width:100%
}
.interface-icon .v-input[data-v-ea7729]{position:sticky;top:0;z-index:1
}
.interface-icon details[data-v-ea7729]{text-transform:uppercase
}
.interface-icon details summary[data-v-ea7729]{color:var(--gray);cursor:pointer;margin:20px 2px 5px
}
.interface-icon details summary[data-v-ea7729]:hover{color:var(--darker-gray)
}
.interface-icon button[data-v-ea7729]{color:var(--lighter-gray);max-width:37px;padding:.5em;transition:color var(--fast) var(--transition)
}
.interface-icon button.active[data-v-ea7729]{color:var(--darker-gray)
}
.interface-icon button[data-v-ea7729]:hover{color:var(--dark-gray);transition:none
}
.interface-icon button[disabled=disabled][data-v-ea7729]:hover{color:var(--lighter-gray);cursor:not-allowed
}