.interface-wysiwyg-container {
  .interface-wysiwyg.editor__content {
    width: 100%;
    min-height: inherit;

    > *[contenteditable="true"],
    > *[contenteditable] {
      code {
        display: inline-block;
        padding: 0 3px;
        font-family: monospace;
        background-color: var(--lightest-gray);
        color: var(--gray);
        border-radius: var(--border-radius);
        border: 1px solid var(--lighter-gray);
      }

      pre {
        max-width: 100%;
        overflow-x: scroll;
        margin: 3px auto;
      }

      strong {
        font-weight: bolder;
      }

      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 28px
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 22px;
      }

      p + p {
        margin-bottom: 0;
        &:last-of-type {
          margin-bottom: 15px;
        }
      }

      min-height: inherit;
      border: var(--input-border-width) solid var(--lighter-gray);
      border-radius: var(--border-radius);
      color: var(--gray);
      background-color: var(--white);
      padding: 10px;
      line-height: 1.5;
      transition: var(--fast) var(--transition);
      transition-property: color, border-color;
    }
  }

  &.editor {
    position: relative;
    min-height: 220px;

    .editor__inner {
      min-height: inherit;

      &.hidden {
        min-height: 0;
        display: none;
      }

      img {
        max-width: 100%;
      }

      .menububble {
        position: absolute;
        background-color: var(--lightest-gray);
        padding: 3px 5px 0 5px;
        visibility: hidden;
        opacity: 0;
        transition: top .2s ease-in-out, bottom .2s ease-in-out, left .2s ease-in-out, opacity .3s ease-in-out;
        border-radius: var(--border-radius);

        &.visible {
          visibility: visible;
          opacity: 1;
        }
      }

      .menububble__button {
        .icon {
          margin-bottom: -5px;
        }
      }

      .menubar {
        display: flex;
        flex-flow: row wrap;
        &.options-is-open {
          + .editor__content {
            //padding-top: 42px;
          }
        }
      }

      .bottom__actions {
        position: absolute;
        bottom: -15px;
        right: 0;
      }

      .menubar__button {
        position: relative;
        span,
        i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .label {
          top: calc(50% - 4px);
          left: calc(50% + 2px);
          transform: translate(-50%, -50%);
          font-size: 8px;
          letter-spacing: -1px;
        }

        &.is-active {
          i {
            color: var(--accent);
          }
        }
      }
      .tableWrapper {
        max-width: 100%;
        overflow-x: auto;
        table {
          background-color: solid var(--lightest-gray) 1px;
          border: solid var(--gray) 1px;
          width: 100%;
          tbody {
            tr,
            td {
              min-width: 70px;
              border: 1px solid var(--gray);
            }
          }
        }
      }

      .options-fixed {
        position: absolute;
        top: -5px;
        transform: translateY(-100%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 1;
        background-color: var(--lightest-gray);
        width: 100%;
        border-radius: var(--border-radius);

        .menubar__button {
          margin-left: 1px;
          position: relative;

          i {
            top: calc(50% + 4px);
            left: calc(50% + 2px);
            color: inherit;
            position: absolute;
            transform: translate(-50%, -50%);
          }

          .sup {
            height: 12px;
            width: 12px;
            position: absolute;
            color: var(--warning);
            z-index: 1;
            font-size: 12px;
            top: 50%;
            left: 0;
            transform: translate(-50%, calc(-50% - 10px));

            &.add {
              color: var(--success);
            }

            &.remove {
              color: var(--danger);
            }

            i {
              height: 12px;
              width: 12px;
              font-size: 16px;
            }
          }
        }
        &.is-open {
          opacity: 1;
        }
      }
    }

    .editor__raw {
      .CodeMirror {
        margin-bottom: 5px;
        min-height: 220px;
        .line-count {
          visibility: hidden;
        }
      }

      .CodeMirror-scroll {
        min-height: 220px;
        padding-bottom: 0;
      }
      small.line-count {
        display: none;
      }
    }

    .editor__rawformat {
      position: absolute;
      top:-20px;
      right: 0;
    }
  }
}

.modal-container {
  .interface-wysiwyg-modal-url-input {
    margin: 20px;

    &.is-active {
      height: 100%;
    }

  }

  .interface-wysiwyg-modal-url-preview {
    height: inherit;
    padding-top: 20px;
    max-height: 100%;
    img {
      max-width: 100%;
    }

    .error {
      margin: auto;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      font-size: 90px;
      color: var(--lightest-gray);
    }
  }

}