
label[data-v-f8804f] {
  margin-top: 30px;
}
.draggable[data-v-f8804f] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: ns-resize;
}
.draggable .checkbox[data-v-f8804f] {
    max-width: 125px;
}
.draggable i[data-v-f8804f] {
    color: var(--lighter-gray);
}
