
.interface-color-picker[data-v-e78e0c]{--swatch-size:20px;display:flex;flex-direction:column;flex-wrap:wrap;height:calc(var(--swatch-size) * 11);width:var(--swatch-size)
}
.interface-color-picker button[data-v-e78e0c]{display:block;flex-basis:var(--swatch-size);height:var(--swatch-size);transform:scale(1);transition:transform var(--fast) var(--transition-in);width:var(--swatch-size)
}
.interface-color-picker button[data-v-e78e0c]:hover{box-shadow:var(--box-shadow);transform:scale(1.4);transition:none;z-index:1
}
.interface-color-picker button i[data-v-e78e0c]{color:var(--white);font-size:18px;margin-top:-3px
}
.interface-color-picker button i.dark[data-v-e78e0c]{color:var(--black)
}
.interface-color-picker button[data-v-e78e0c]:last-child{flex-grow:1
}
.interface-color-picker button[data-v-e78e0c]:last-child:hover{transform:scale(1.1)
}
.interface-color-picker button[data-v-e78e0c]:nth-last-child(2){flex-grow:1
}
.interface-color-picker button[data-v-e78e0c]:nth-last-child(2):hover{transform:scale(1.1)
}
.interface-color-picker button[disabled=disabled][data-v-e78e0c]{cursor:not-allowed;filter:grayscale(1)
}
.interface-color-picker button[disabled=disabled].active[data-v-e78e0c]{filter:none
}
.interface-color-picker button[disabled=disabled][data-v-e78e0c]:hover{transform:none;transition:none
}