# This is the top-most .editorconfig file (do not search in parent directories)
root = true

### All files
[*]
# Force charset utf-8
charset = utf-8
# Indentation and style
indent_style = space
indent_size = 2
quote_type = double
# line breaks and whitespace
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

### Frontend files
[*.{css,scss,less,js,json,ts,sass,php,html,hbs,mustache,phtml,html.twig}]

### Markdown
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

### Specific files
[{package,bower,lerna}.json]
indent_style = space
indent_size = 2
