.CodeMirror {
  /*color: var(--gray);*/
  font-weight: inherit;
  /*height: auto;*/
  /*font-family: inherit;*/
}
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.cm-matchhighlight {background-color: var(--light-green)}
.CodeMirror-selection-highlight-scrollbar {background-color: var(--green)}
.CodeMirror-selectedtext {}