.CodeMirror {
	transition: all var(--fast) var(--transition);
	font-weight: inherit;
	font-family: "Roboto Mono";
	border: var(--input-border-width) solid var(--lighter-gray);
	border-radius: var(--border-radius);
	color: var(--gray);
	line-height: 18px;
  	height: auto;
  	width: 100%;
  	margin-bottom: 20px;
}

.CodeMirror:hover {
	transition: none;
	border-color: var(--light-gray);
}

.CodeMirror-scroll {
  	min-height: 200px;
  	max-height: 460px;
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
	background: #e1f0fa;
}

.CodeMirror.CodeMirror-focused {
	border-color: var(--accent);
	color: var(--darker-gray);
}

.cm-matchhighlight {
	background-color: var(--lightest-gray);
	border-radius: var(--border-radius);
}

.CodeMirror-selection-highlight-scrollbar {
	background-color: var(--green)
}

.CodeMirror-activeline-background {
	background: var(--body-background);
}

.CodeMirror pre {
	padding: 0 10px;
}

.CodeMirror-gutters {
	background: var(--body-background);
}

.CodeMirror-linenumber {
	color: var(--lighter-gray);
}
.cm-s-default .cm-keyword {
	color: var(--purple-800);
}
.cm-s-default .cm-string {
	color: var(--green);
}

.cm-s-default .cm-string-2 {
	color: var(--deep-orange-800);
}
.cm-s-default .cm-def {
	color: var(--blue-900);
}
.cm-s-default .cm-tag {
	color: var(--green-800);
}
.cm-s-default .cm-meta {
	color: var(--grey-700);
}
.cm-s-default .cm-number {
	color: var(--orange-500);
}

.cm-s-default .cm-atom {
	color: var(--accent);
}

.cm-s-default .cm-attribute {
	color: var(--indigo-800);
}
.cm-s-default .cm-comment {
	color: var(--light-gray);
}

.CodeMirror .CodeMirror-matchingbracket {
	color: inherit;
	border-bottom: 1px solid var(--accent);
}

.CodeMirror .CodeMirror-nonmatchingbracket {
	color: var(--red);
}
