
.badge[data-v-195972]{border-radius:var(--border-radius);padding:5px 10px;display:inline-block;cursor:default;max-width:120px
}
.simple[data-v-195972]{border-radius:100%;overflow:hidden;font-size:0;padding:6px;vertical-align:middle
}