
.badge[data-v-4d4041]{border-radius:var(--border-radius);cursor:default;display:block;max-width:120px;padding:5px 10px;width:max-content
}
.simple[data-v-4d4041]{border-radius:50%;height:10px;padding:0;width:10px
}