
.interface-file-size-formatted[data-v-b4c166]{color:var(--light-gray);margin-left:10px;font-style:italic
}
.interface-file-size[data-v-b4c166]{display:inline-block;max-width:var(--width-small)
}
.interface-file-size-units[data-v-b4c166]{margin:0;display:inline-block;min-width:70px;margin-left:4px;max-width:var(--width-x-small)
}