
.interface-file-size-formatted[data-v-4d8d44]{color:var(--light-gray);font-style:italic;margin-left:10px
}
.interface-file-size[data-v-4d8d44]{display:inline-block;max-width:var(--width-small)
}
.interface-file-size-units[data-v-4d8d44]{display:inline-block;margin:0 0 0 4px;max-width:var(--width-x-small);min-width:70px
}