
.interface-color[data-v-40cbc6]{max-width:var(--width-large)
}
.input[data-v-40cbc6]{margin-right:8px;max-width:var(--width-small)
}
.input[data-v-40cbc6],.sliders[data-v-40cbc6]{display:inline-block;vertical-align:middle
}
.sliders[data-v-40cbc6]{margin-right:36px;max-width:200px
}
.sliders .slider-label[data-v-40cbc6]{color:var(--light-gray);display:inline-block;vertical-align:text-bottom;width:14px
}
.sliders .slider[data-v-40cbc6]{display:inline-block;margin-bottom:8px
}
.swatch[data-v-40cbc6]{border-radius:100%;color:var(--white);display:inline-block;height:40px;margin-right:8px;text-align:center;transition:var(--fast) var(--transition);vertical-align:middle;width:40px
}
.swatch i[data-v-40cbc6]{line-height:40px
}
button[data-v-40cbc6]{border:2px solid var(--gray);border-radius:100%;display:inline-block;height:40px;margin-bottom:8px;margin-right:8px;position:relative;transition:var(--fast) var(--transition);width:40px
}
button[data-v-40cbc6]:first-of-type{margin-left:16px
}
button[data-v-40cbc6]:first-of-type:before{border-left:1px solid var(--lighter-gray);bottom:0;content:"";left:-16px;position:absolute;top:0
}
button[data-v-40cbc6]:not(:hover){background-color:var(--white)!important
}
button[data-v-40cbc6]:hover{color:var(--white)!important;transition:none
}