
.select[data-v-5f729c]{border:var(--input-border-width) solid var(--light-gray);border-radius:var(--border-radius);font-family:Roboto,sans-serif;width:100%
}
.select[data-v-5f729c]:focus{border-color:var(--accent)
}
.select:focus option[data-v-5f729c]{color:var(--darker-gray)
}
.select option[data-v-5f729c]{color:var(--gray);padding:5px 10px
}
.select option[data-v-5f729c]:checked{-webkit-text-fill-color:var(--white);background:var(--accent) linear-gradient(0deg,var(--accent),var(--accent));color:var(--white);position:relative
}
.select option[data-v-5f729c]:checked:after{content:"check";font-family:Material Icons;font-size:24px;position:absolute;right:10px;top:50%;transform:translateY(-54%)
}
.x-small[data-v-5f729c]{max-width:var(--width-x-small)
}
.small[data-v-5f729c]{max-width:var(--width-small)
}
.medium[data-v-5f729c]{max-width:var(--width-normal)
}