
textarea[data-v-537eeb]{border:var(--input-border-width) solid var(--lighter-gray);border-radius:var(--border-radius);color:var(--gray);font-family:monospace;line-height:1.5;max-width:var(--width-normal);padding:10px;transition:var(--fast) var(--transition);transition-property:color,border-color;width:100%
}
textarea[data-v-537eeb]::placeholder{color:var(--light-gray)
}
textarea[data-v-537eeb]:focus{border-color:var(--accent);color:var(--darker-gray);outline:0
}
textarea:focus+i[data-v-537eeb]{color:var(--accent)
}
textarea[data-v-537eeb]:-webkit-autofill{-webkit-text-fill-color:var(--dark-gray)!important;box-shadow:inset 0 0 0 1000px var(--white)!important;color:var(--dark-gray)!important
}
textarea input[data-v-537eeb]:-webkit-autofill,textarea input:-webkit-autofill:focus input[data-v-537eeb]:-webkit-autofill,textarea input[data-v-537eeb]:-webkit-autofill:hover,textarea textarea[data-v-537eeb]:-webkit-autofill,textarea textarea:-webkit-autofill:hover textarea[data-v-537eeb]:-webkit-autofill:focus{background-color:var(--white);border:var(--input-border-width) solid var(--lighter-gray);box-shadow:inset 0 0 0 2000px var(--white)
}