
textarea[data-v-56796d]{width:100%;font-family:monospace;max-width:var(--width-normal);border:var(--input-border-width) solid var(--lighter-gray);border-radius:var(--border-radius);color:var(--gray);padding:10px;line-height:1.5;transition:var(--fast) var(--transition);transition-property:color,border-color
}
textarea[data-v-56796d]::placeholder{color:var(--light-gray)
}
textarea[data-v-56796d]:focus{color:var(--darker-gray);border-color:var(--accent);outline:0
}
textarea:focus+i[data-v-56796d]{color:var(--accent)
}
textarea[data-v-56796d]:-webkit-autofill{box-shadow:inset 0 0 0 1000px var(--white)!important;color:var(--dark-gray)!important;-webkit-text-fill-color:var(--dark-gray)!important
}
textarea input[data-v-56796d]:-webkit-autofill,textarea input:-webkit-autofill:focus input[data-v-56796d]:-webkit-autofill,textarea input[data-v-56796d]:-webkit-autofill:hover,textarea textarea[data-v-56796d]:-webkit-autofill,textarea textarea:-webkit-autofill:hover textarea[data-v-56796d]:-webkit-autofill:focus{border:var(--input-border-width) solid var(--lighter-gray);background-color:var(--white);box-shadow:inset 0 0 0 2000px var(--white)
}