
.line-style-text-small[data-v-3d0aee]{display:block;overflow:hidden;text-align:center;white-space:nowrap
}
.line-style-text-small hr[data-v-3d0aee]{display:none
}
.line-style-text-small>span[data-v-3d0aee]{color:var(--gray);display:inline-block;font-size:11px;font-weight:700;position:relative;text-transform:uppercase
}
.line-style-text-small>p[data-v-3d0aee]{color:var(--light-gray);font-size:11px
}
.line-style-text-small>span[data-v-3d0aee]:after,.line-style-text-small>span[data-v-3d0aee]:before{background:var(--lighter-gray);content:"";height:1px;position:absolute;top:50%;width:9999px
}
.line-style-text-small>span[data-v-3d0aee]:before{margin-right:15px;right:100%
}
.line-style-text-small>span[data-v-3d0aee]:after{left:100%;margin-left:15px
}
.line-style-text-small>p[data-v-3d0aee]{text-decoration-style:dashed
}
.line-style-small[data-v-3d0aee]{margin:0 auto;max-width:var(--width-small);width:100%
}
.line-style-small h3[data-v-3d0aee]{text-decoration:uppercase
}
.line-style-normal[data-v-3d0aee]{margin:0 auto;max-width:var(--width-normal);width:100%
}
.line-style-normal h3[data-v-3d0aee]{text-decoration:uppercase
}
.line-style-big[data-v-3d0aee]{margin:0 auto;max-width:var(--width-large);width:100%
}
.line-style-big h3[data-v-3d0aee]{text-decoration:uppercase
}
.line-style-standard[data-v-3d0aee]{width:100%
}
.line-style-standard hr[data-v-3d0aee]{border-top:2px solid var(--lighter-gray)
}
.line-style-standard h3[data-v-3d0aee]{color:var(--dark-gray);font-size:26px;font-weight:lighter
}
.line-style-standard p[data-v-3d0aee]{font-weight:100;max-width:20em;width:100%
}
.line-style-basic>hr[data-v-3d0aee]{border-top:1px solid var(--lighter-gray)
}